.head{
    background-color: orange;
    height: 150px;
    text-align:left;
}
.head1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:blue;
    font-style: italic;
}
.links{
    text-align: right;
    color:black;
    font-weight: bold;
}
.link1,.link2,.link3{
    background-color: rgb(176, 243, 176);
    border-radius: 5px;
}
.container{
 /*  background-image:url(/src/FinalProject/Train.jpg);*/
 
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    font-family:cursive;
    color:darkviolet;  
}
input[type="text"],
input[type="password"]
{
width :200px;
height:35px;
border: 1px solid #333;
box-sizing: border-box;
border-radius:5px;
}

.h2{
    text-align:right;
 
}

.logincontainer{
    background-color: skyblue;
    height:400px;
    width:300px;
    border-radius: 10px;
}

.quote{
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    }
.pass{
    text-align:right;
}
.rem{
    border-radius: 10px;
}
.firsttrains{
    color:black;
    background-color: lightgray;
    border-radius: 10px;
    width: 65rem;
    font-size:20px;


}
.cards{
    width:10rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 20px;
    color:black;
    font-size: 13px;

}
table {
    border-collapse: separate;
    border-spacing: 2px;
    margin-left:auto;
    margin-right:auto;
}

.pretag{ 
    font-weight: bold;
    
}
.labelsel{
    font-size: 30px;;
}
.wrapper{
    width:200px;
    padding:20px;
    height: 70px;
    }
.link4,.link5,.link6{
    background-color: white;
    border-radius: 5px;
}
.trainame{
    color:red;
}
.Select{
    width:200px;
    border-radius: 10px;
}
.travellerinformation{
    width:700px;
    height:400px;
    background-color:lightpink;
    border-radius: 20px;
    border-style:10px solid red;
   }
   .gender,.age{
    width:200px;
    height:35px;
    border-radius: 10px;
}
.hh{
    text-align: left;
}
.contactdetails{
    width:700px;
    height:220px;
    background-color:lightpink;
    border-radius: 20px;
    border-style:10px solid red;
}
.mobile,.cvv{
    width:200px;
    height:35px;
    border-radius: 10px;

}
.idproof{
    width:700px;
    height:170px;
    background-color: lightpink;
    border-radius: 20px;
    border-style:10px solid red;

}
.paymentdetails{
    width:700px;
    height:380px;
    background-color: lightpink;
    border-radius: 20px;
   
}
input[type="text"]
{
    width:200px;
    border-radius: 10px;
}
.ff{
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    font-family: monospace;
}
input[type="email"]{
    width:200px;
    height:35px;
    border-radius: 10px;
}
.pp{
    color:red;
}
.rr{
    color:black;
    background-color: lightgray;
    border-radius: 10px;
    width: 50rem;
    font-size:20px;


}
